<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form with Navbar</title>
    <link rel="stylesheet" href="login.css">
       
</head>
<body>

    <!-- Navbar -->
   <!-- include(import or require) function -->
    <%- include("../components/navbar.ejs")  %>

    <!-- Form -->
    <div class="form-container">
        <h2>Forget Password</h2>
        <form action="/forgotPassword" method="post">
            <!-- <input type="text" name="username" placeholder="Username" required> -->
            <input type="email" name="email" placeholder="Email" required>
            <button value="send OTP">Submit</button>
            <!-- <input type="submit" value="send OTP"> -->
        </form>
    </div>

</body>
</html>
