<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form with Navbar</title>
    <link rel="stylesheet" href="login.css">
       
</head>
<body>

    <!-- Navbar -->
   <!-- include(import or require) function -->
    <%- include("../components/navbar.ejs")  %>

    <!-- Form -->
    <div class="form-container">
        <h2>Forget Password</h2>
         
        <form action="/verifyOtp/<%- email %>" method="post">
            <p style="color: red;"><%- error %></p>
            <!-- <p style="color: green;"><% success %></p> -->
            <!-- <input type="text" name="username" placeholder="Username" required> -->
            <input type="number" name="otp" placeholder="Otp" required>
            <button value="verify Otp">Submit</button>
            <!-- <input type="submit" value="Verify Otp  "> -->
        </form>
    </div>

</body>
</html>
